<h1>New To-Do List Item</h1>
<div class="row">
  <div class="col-md-8">
    <%= form_for @list do |f| %>
    <div class="form-group">
      <%= f.text_field :title, class: "form-control", placeholder: "Enter List Title" %>
    </div>
    <%= f.submit "Save", class: "btn btn-sucess" %>
    <% end %>
  </div>
</div>