<h1><%= @list.title %></h1>
<div class="row">
  <div class="col-md-8">
    <% @list.list_items.each do |item| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= item.body %>
        </h4>
        <div id="form">
          <%= render "list_items/form" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>