<p>Create as many to-do lists as you like.<p>

<p>Fill you list with 'things' to do.<p>

<p>Delete your 'things' once you've done them.<p>

<p>After 7 days your items will expire and self delete.</p>

<p>So get your 'things' done soon!<p>
